<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Server=;Database=;User Id=;Password=;"/>
		<add key="ConnectionString1" value="Server=;Database=;User Id=;Password=;"/>
		<add key="UserID" value=""/>
		<add key="ServerPassword" value=""/>
		<add key="Server" value=""/>
		<add key="TableName" value=""/>
		<add key ="DataBaseName" value="" />

	</appSettings>
</configuration>